<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="error-message">
        <h1>We are not announcing this competition</h1>
        <p>Due to certain reasons, this competition will not be announced on the Speedcubing IN channel.
            Please wait for further notice.</p>
    </div>
    <a href="/"> <button>Go back to Home</button></a>
</body>
</html>
