<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="error-message">
        <h1>Invalid login credentials</h1>
        <p>It seems like you have entered invalid login credentials. Please try again.</p>
    </div>
    <a href="/"> <button>Go back to Home</button></a>
</body>
</html>
